<h1>All Customers</h1>
<button class="small right">Blocks</button>
<button class="small right">List</button>
<div class="large-3 right">
  <label for="countEntries" class="left">Show entries </label>
  <select id="countEntries" class="large-5 right">
    <option>25</option>
    <option>50</option>
    <option>100</option>
    <option>150</option>
    <option>200</option>
  </select>
</div>
     
<table width="100%">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Marc</td>
      <td>Bachmann</td>
      <td>+41 79 344 23 18</td>
      <td>Edit</td>
    </tr>
    <tr>
      <td>Dieter</td>
      <td>Keller</td>
      <td></td>
      <td>Edit</td>
    </tr>
    <tr>
      <td>Martin</td>
      <td>Tagmann</td>
      <td></td>
      <td>Edit</td>
    </tr>
  </tbody>
</table>